@(form: Form[(String, String)])(implicit messages: Messages)

@form.globalError.map { error =>
    <p>@error.message</p>
}

@helper.form(controllers.routes.Application.authenticate()) {
    @helper.inputText(form("email"))
    @helper.inputPassword(form("password"))
    <button type="submit">Login</button>
}